/*

Name: Balou
Background: White
Color: Blue
Type: Flat
Preview: https://downloads-yootheme.storage.googleapis.com/library/balou/styles/default.jpg

Style: white-grey
Name: White Grey
Background: White
Color: Grey
Type: Flat
Preview: https://downloads-yootheme.storage.googleapis.com/library/balou/styles/white-grey.jpg

Style: white-turquoise
Name: White Turquoise
Background: White
Color: Turquoise
Type: Flat
Preview: https://downloads-yootheme.storage.googleapis.com/library/balou/styles/white-turquoise.jpg

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Flat
Preview: https://downloads-yootheme.storage.googleapis.com/library/balou/styles/white-pink.jpg

Style: white-beige
Name: White Beige
Background: White
Color: Beige
Type: Flat
Preview: https://downloads-yootheme.storage.googleapis.com/library/balou/styles/white-beige.jpg

Style: white-orange
Name: White Orange
Background: White
Color: Orange
Type: Flat
Preview: https://downloads-yootheme.storage.googleapis.com/library/balou/styles/white-orange.jpg

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-balou/_import.less";

// Theme
@import "theme.less";


//
// Variables
// ========================================================================

@theme-page-container-background:               @global-primary-background;

@theme-page-container-width:                    1840px;


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-balou/styles/@{internal-style}.less";

@internal-style: ;
